@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body, h1 {margin: 0;}
body {background: #1e202b; font-family: 'Varela Round',sans-serif;
  font-size: 13px; line-height: 1.5;}
.c {width: calc(100% - 30px); margin: auto;}
a {text-decoration: none;}
small {color: #bfc1c8;}
[placeholder], button {color: #fff; font-family: inherit;
  font-size: 1em; border-radius: 30px;}
[placeholder] {background: #1e202b; outline: 0;}
button {background: #009ad8; padding: 15px 20px; border: 0; cursor: pointer;}

nav>.c {margin: 25px auto; display: flex;
  justify-content: space-between; align-items: center;}
h1>a>* {vertical-align: middle;}
h1 img {margin-right: 10px;}
h1 span {color: #fff; font-size: 16px; display: inline-flex; flex-flow: column;}
h1 small {font-weight: 400; font-size: 10px; margin-top: 5px;}
nav nav>a {color: #fff;}

footer {background: #262936; padding: 30px 0;}
footer>.c>div {margin-bottom: 30px; display: flex;}
footer form {width: 100%; position: relative;}
footer input {width: calc(100% - 170px); padding: 20px 150px 20px 20px; border: 0;}
footer button {position: absolute; top: 5px; right: 5px;}
footer nav {width: 100%; display: flex; justify-content: center; gap: 5px;}
footer .fa-brands {background: #1e202b; color: #009ad8;
  font-size: 20px; width: 40px; text-align: center;
  line-height: 2; border-radius: 50%; transition: .4s;}
footer a:hover i {background: #009ad8; color: #fff;}
footer small>span {margin-right: 15px;}

@media screen and (max-width: 991px)
  {nav>.c {height: 44px; overflow: hidden; flex-flow: wrap; transition: .4s;}
  body:has(nav input:checked) nav>.c {height: 370.5px;}
  nav nav {background: #262936; width: 100%; border-radius: 10px;
    margin-top: 25px; text-align: center; display: flex; flex-flow: column;}
  nav>.c i {color: #fff; font-size: 22px; cursor: pointer; transition: .4s;}
  body:has(nav input:checked) nav>.c i {color: #009ad8;}
  nav nav>a {padding: 20px;} .on {color: #009ad8;}
  nav nav>:not(.off) {border-bottom: solid 1px #ffffff1a;}
  footer>.c>div {flex-flow: wrap; gap: 30px;}
  footer small {display: block; text-align: center;}}
@media screen and (min-width: 768px) {.c {width: 720px;}}
@media screen and (min-width: 992px) {.c {width: 940px;} nav label {display: none;}
  nav nav>a {padding: 5px 25px; border: solid 2px transparent;
    border-radius: 20px; margin-left: 10px; transition: .4s;}
  .on, nav nav>a:hover {color: #009ad8; border-color: #009ad8;}
  footer form {width: calc(200%/3);}
  footer nav {width: calc(100%/3); align-items: center;}}
@media screen and (min-width: 1200px) {.c {width: 1140px;}}